# Qt 相关
*.user
*.pro.user
Makefile*
*.aps

# 编辑 .gitignore
echo "Coagulation.opensdf" >> .gitignore
echo "*.opensdf" >> .gitignore  # 忽略所有同类文件
echo ".vs/" >> .gitignore       # 忽略 VS 临时目录（如果适用）

# IDE
.vs/
*.sdf
*.sln
*.vcxproj*
*.vcxproj.filters

# 构建生成文件
Debug/
Release/
*.dll
*.lib
*.ilk
*.exe
*.a

# 其他
*.ui
*.qrc